build/
.fullsend/
web/node_modules/
web/dist/
web/public/turingos.js
web/public/turingos.wasm
web/public/demo.img
web/src/generated/
web/cypress/downloads/
web/cypress/screenshots/
web/cypress/videos/
snapshot_*.bin
